@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-damion: var(--font-damion);
  --font-outfit: var(--font-outfit)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Outfit;
}

.gradient-violet-peach {
  background-image: 
    radial-gradient(45% 120% at 50% 115%, #ffb76252 0%, #00000000 100%),
    radial-gradient(85% 150% at 50% 120%, #4a00e9d4 0%, #00000000 100%),
    linear-gradient(0deg, #000000, #000000);
}